img {
    max-width: 100%;
}
h1 {
    color: #E5A91C;
}
footer {
    color: #E5A91C;
}
body {
    font-family: Quicksand;
    letter-spacing: -1px;
}
.blue {
    color: #243A6B;
}
body p,
body address {
    color: #243A6B;
}
ul li a {
    color: #243A6B;
}
.bg-beige,
body {
    background-color: #ebdec0;
    background-image: url('../img/gplaypattern.png');
}
.bg-blue {
    background-color: #243A6B;
    background-image: url('../img/weave.png');
}
.padding-below {
    padding-bottom: 20px;
}
.padding-above {
    padding-top: 20px;
}
header img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
header h1 {
    text-align: center;
    font-family: 'Parisienne';
    font-weight: ;
    font-size: 400%;
}
header h3,
.fa-calendar {
    color: #fff;
}
header h3 {
    letter-spacing: -2px;
}
h3 small {
    color: #E5A91C;
}
#wide-image,
#wide-image-container {
    min-height: 100px;
    height: 100px;
}
#wide-image {
    width: 100%;
    max-width: 100%;
}
.fa-bars {
    color: #243A6B;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs li a i {
    margin-right: 10px;
    color: #E5A91C;
}
.fa-chevron-down {
    margin-left: 10px;
    margin-right: 0px;
}
.special-red {
    color: #D94E67;
}
.fiancetag small {
    color: #243A6B;
}
.regrsvp {
    /*border: 1px solid #fff;*/
    border: none;
}
.regrsvp .registry,
.rsvp {
    display: inline-block;
}
.breathing-space-above {
    margin-top: 20px;
}
footer p {
    margin-bottom: 0px;
}
footer p a {
    color: #fff;
}
footer p {
    color: #E5A91C;
}
.nav-tabs li a i.fa-heart-o {
    color: #D94E67;
}
.nav-tabs li a i.fa-heart {
    color: #D94E67;
}
.nav-tabs>li>a {
    border: none;
    transition: color 0.2s ease-in-out 0.2s, font-weight 0.2s ease-in-out 0.2s, border 0.2s ease-in-out;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #ebdec0;
    background-image: url('../img/gplaypattern.png');
    border: none;
    border-bottom: 2px solid #243A6B;
    color: #D94E67;
    font-weight: 500;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #ebdec0;
    background-image: url('../img/gplaypattern.png');
    border-bottom: 2px solid #243A6B;
    color: #D94E67;
}
/* Styles for the hover to work */

#content a {
    text-decoration: none;
}
#load {
    /*border: 1px solid black;*/
    background-image: url('img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.box {
    width: 250px;
    height: 250px;
    /*box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, .45);*/
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    background: url(http://placehold.it/250x250) no-repeat;
    /*margin:5% auto 0 auto;*/
    /*overflow: hidden;*/
}
.box .overlay {
    position: relative;
    top: 0px;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.84);
    opacity: 0;
    transition: opacity .250s ease;
    -webkit-transition: opacity .250s ease;
    -moz-transition: opacity .250s ease;
    padding-top: 20px;
}
.box:hover .overlay {
    opacity: 0.7;
}
.box:hover .overlay .overlay-text-top {
    -webkit-transform: translateY(0);
}
.box:hover .overlay .overlay-text-bottom {
    -webkit-transform: translateY(0);
}
.overlay-text-top,
.overlay-text-bottom {
    display: block;
    margin-top: -15px;
    text-weight: 100;
    opactity: 1;
    -webkit-opacity: 1;
    text-align: center;
    color: #000;
    font-size: 18px;
}
.overlay-text-top {
    -webkit-transform: translateY(-50%);
    -webkit-transition: -webkit-transform .5s ease;
    font-weight: 500;
    opacity: 1;
    -webkit-opacity: 1;
}
.overlay-text-bottom {
    -webkit-transform: translateY(100%);
    -webkit-transition: -webkit-transform .5s ease;
    font-weight: 200;
    opacity: 1;
    -webkit-opacity: 1;
}
/* Media queries */

@media (max-width: 480px) {
    .nav-tabs > li {
        float: none;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    #registry {
        display: inlne-block;
        margin-top: 20px;
    }
}